In [4]:
from flask_sqlalchemy import SQLAlchemy

In [5]:
import sqlalchemy

In [8]:
sqlalchemy.create_engine('sqlite:///vivino.db')

Engine(sqlite:///vivino.db)

In [12]:
%load_ext sql

In [13]:
%sql sqlite:///vivino.db

In [16]:
%%sql

 * sqlite:///vivino.db
Done.

[('table', 'countries', 'countries', 2, 'CREATE TABLE countries (\n\tcode VARCHAR NOT NULL, \n\tname VARCHAR, \n\tregions_count INTEGER, \n\tusers_count INTEGER, \n\twines_count INTEGER, \n\twineries_count INTEGER, \n\tPRIMARY KEY (code)\n)'),
 ('index', 'sqlite_autoindex_countries_1', 'countries', 3, None),
 ('table', 'grapes', 'grapes', 4, 'CREATE TABLE grapes (\n\tid INTEGER NOT NULL, \n\tname VARCHAR, \n\tPRIMARY KEY (id)\n)'),
 ('table', 'wineries', 'wineries', 5, 'CREATE TABLE wineries (\n\tid INTEGER NOT NULL, \n\tname VARCHAR, \n\tPRIMARY KEY (id)\n)'),
 ('table', 'flavor_groups', 'flavor_groups', 6, 'CREATE TABLE flavor_groups (\n\tname VARCHAR NOT NULL, \n\tPRIMARY KEY (name)\n)'),
 ('index', 'sqlite_autoindex_flavor_groups_1', 'flavor_groups', 7, None),
 ('table', 'keywords', 'keywords', 8, 'CREATE TABLE keywords (\n\tid INTEGER NOT NULL, \n\tname VARCHAR, \n\tPRIMARY KEY (id)\n)'),
 ('table', 'regions', 'regions', 9, 'CREATE TABLE regions (\n\tid INTEGER NOT NULL, \n\tname VARCHAR, \n\tcountry_code VARCHAR, \n\tPRIMARY KEY (id), \n\tFOREIGN KEY(country_code) REFERENCES countries (code)\n)'),
 ('table', 'most_used_grapes_per_country', 'most_used_grapes_per_country', 10, 'CREATE TABLE most_used_grapes_per_country (\n\tid INTEGER NOT NULL, \n\tcountry_code VARCHAR, \n\tgrape_id INTEGER, \n\twines_count INTEGER, \n\tPRIMARY KEY (id), \n\tFOREIGN KEY(country_code) REFERENCES countries (code), \n\tFOREIGN KEY(grape_id) REFERENCES grapes (id)\n)'),
 ('table', 'toplists', 'toplists', 11, 'CREATE TABLE toplists (\n\tid INTEGER NOT NULL, \n\tname VARCHAR(255) NOT NULL, \n\tcountry_code VARCHAR, \n\tPRIMARY KEY (id), \n\tFOREIGN KEY(country_code) REFERENCES countries (code)\n)'),
 ('table', 'wines', 'wines', 12, 'CREATE TABLE wines (\n\tid INTEGER NOT NULL, \n\tname VARCHAR, \n\tis_natural BOOLEAN, \n\tregion_id INTEGER, \n\twinery_id INTEGER, \n\tratings_aver ... (168 characters truncated) ... cture_count INTEGER, \n\tPRIMARY KEY (id), \n\tFOREIGN KEY(region_id) REFERENCES regions (id), \n\tFOREIGN KEY(winery_id) REFERENCES wineries (id)\n)'),
 ('table', 'vintages', 'vintages', 13, 'CREATE TABLE vintages (\n\tid INTEGER NOT NULL, \n\tname VARCHAR, \n\twine_id INTEGER, \n\tratings_average FLOAT, \n\tratings_count INTEGER, \n\tyear ... (55 characters truncated) ... rom FLOAT, \n\tprice_discount_percentage FLOAT, \n\tbottle_volume_ml INTEGER, \n\tPRIMARY KEY (id), \n\tFOREIGN KEY(wine_id) REFERENCES wines (id)\n)'),
 ('table', 'keywords_wine', 'keywords_wine', 14, 'CREATE TABLE keywords_wine (\n\tkeyword_id INTEGER NOT NULL, \n\twine_id INTEGER NOT NULL, \n\tgroup_name VARCHAR NOT NULL, \n\tkeyword_type VARCHAR, ... (25 characters truncated) ... RIMARY KEY (keyword_id, wine_id, group_name), \n\tFOREIGN KEY(keyword_id) REFERENCES keywords (id), \n\tFOREIGN KEY(wine_id) REFERENCES wines (id)\n)'),
 ('index', 'sqlite_autoindex_keywords_wine_1', 'keywords_wine', 15, None),
 ('table', 'vintage_toplists_rankings', 'vintage_toplists_rankings', 16, 'CREATE TABLE vintage_toplists_rankings (\n\tid INTEGER NOT NULL, \n\ttop_list_id INTEGER, \n\tvintage_id INTEGER, \n\trank INTEGER, \n\tprevious_rank INTEGER, \n\tPRIMARY KEY (id), \n\tFOREIGN KEY(top_list_id) REFERENCES toplists (id), \n\tFOREIGN KEY(vintage_id) REFERENCES vintages (id)\n)')]